
$card-width: 120px;
$card-height: 230px;

h3 {
    color: white;
    text-align: right;
    margin: 0.4em;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {

    img {
        max-width: $card-width - 2px;
        max-height: $card-height * 0.6;
        margin-left: auto;
        margin-right: auto;
        margin: auto;
        // margin-top: auto;
        // margin-bottom: 10px;
    }
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.9em;
    font-weight: bold;
    margin: 2px;

    @media (min-width: 600px)  {
        margin: 20px;
    }

    width: $card-width;
    height: $card-height;
    text-align: center;
    background: white;
    border-radius: 10px;
    color: rgba(50,166,224,1);


    .donate {
        width: 80%;
        height: 30px;    
        margin-left: auto;
        margin-right: auto;
        margin: auto;
        margin-bottom: 5px;
        color: white;
        background: rgba(230,2,127,1);
        border-radius: 5px;
        // vertical-align: middle;
    }
}

