@import "~bootstrap/scss/bootstrap";

$header-height: 60px;
$footer-height: 25px;


.main {
    // padding-top: $header-height;
    margin-top: $header-height;
    min-height: calc(100vh - #{$footer-height} - 15px);
    background: rgb(230,2,127);
    background: linear-gradient(90deg, rgba(230,2,127,1) 0%, rgba(50,166,224,1) 100%);
}

header {
    top: 0;
    width: 100%;
    height: $header-height;
    position: fixed;        
    background: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: $footer-height;
    background: white;
}

.logos {
    margin: 20px;
    margin-bottom: 10px;
}

.logos-left {
    margin: 20px;
    margin-right: auto;
    margin-bottom: 10px;
}

.logos-center {
   position: absolute;
   left: calc(50vw - 70px);
}
